---
layout: null
comments: false
title: "24点小游戏-随机24点生成器"
description: "24点小游戏-随机24点生成器"
---
{% include header.html %}

<style>


    /* Float four colum111s side by side */
    .colum111 {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding in colum111s */
    .row7 {
        margin: 0 -5px;
    }

    /* Clear floats after the colum111s */
    .row7:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* this adds the "card" effect */
        padding: 16px;
        font-size: 30px;
        text-align: center;
        background-color: #f1f1f1;
    }

    /* Style the counter cards */
    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }

    /* Responsive colum111s - one colum111 layout (vertical) on small screens */
    @media screen and (max-width: 600px) {
        .colum111 {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }

    .button5 {
        font-size: 24px;
    }

    .container22 {
        display: table;
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .contained22 {
        display: table;
        height: 50px;
        width: 100%;
        text-align: center;
    }
</style>
<div class="container22">
    <h1>24点小游戏</h1>
</div>

<br>
<div class="contained22">
    <button class="button5" onclick="reflesh()">刷新数字</button>
</div>

<div class="row7">
    <div class="colum111">
        <div class="card2">数字1</div>
        <div class="card" id="number1"></div>
    </div>
    <div class="colum111">
        <div class="card2">数字2</div>
        <div class="card" id="number2"></div>
    </div>
    <div class="colum111">
        <div class="card2">数字3</div>
        <div class="card" id="number3"></div>
    </div>
    <div class="colum111">
        <div class="card2">数字4</div>
        <div class="card" id="number4"></div>
    </div>
</div>
<br><br><br>
<div class="contained22">
    <button class="button5" onclick="findSolution()">获得答案</button>
</div>

<span id="solutionLabel">参考答案(解法可能不唯一): </span>
<span id="solution"></span>

<script>
    var items = [
        [1, 1, 1, 8],
        [1, 1, 2, 6],
        [1, 1, 2, 7],
        [1, 1, 2, 8],
        [1, 1, 2, 9],
        [1, 1, 2, 10],
        [1, 1, 3, 4],
        [1, 1, 3, 5],
        [1, 1, 3, 6],
        [1, 1, 3, 7],
        [1, 1, 3, 8],
        [1, 1, 3, 9],
        [1, 1, 3, 10],
        [1, 1, 4, 4],
        [1, 1, 4, 5],
        [1, 1, 4, 6],
        [1, 1, 4, 7],
        [1, 1, 4, 8],
        [1, 1, 4, 9],
        [1, 1, 4, 10],
        [1, 1, 5, 5],
        [1, 1, 5, 6],
        [1, 1, 5, 7],
        [1, 1, 5, 8],
        [1, 1, 6, 6],
        [1, 1, 6, 8],
        [1, 1, 6, 9],
        [1, 1, 7, 10],
        [1, 1, 8, 8],
        [1, 2, 2, 4],
        [1, 2, 2, 5],
        [1, 2, 2, 6],
        [1, 2, 2, 7],
        [1, 2, 2, 8],
        [1, 2, 2, 9],
        [1, 2, 2, 10],
        [1, 2, 3, 3],
        [1, 2, 3, 4],
        [1, 2, 3, 5],
        [1, 2, 3, 6],
        [1, 2, 3, 7],
        [1, 2, 3, 8],
        [1, 2, 3, 9],
        [1, 2, 3, 10],
        [1, 2, 4, 4],
        [1, 2, 4, 5],
        [1, 2, 4, 6],
        [1, 2, 4, 7],
        [1, 2, 4, 8],
        [1, 2, 4, 9],
        [1, 2, 4, 10],
        [1, 2, 5, 5],
        [1, 2, 5, 6],
        [1, 2, 5, 7],
        [1, 2, 5, 8],
        [1, 2, 5, 9],
        [1, 2, 5, 10],
        [1, 2, 6, 6],
        [1, 2, 6, 7],
        [1, 2, 6, 8],
        [1, 2, 6, 9],
        [1, 2, 6, 10],
        [1, 2, 7, 7],
        [1, 2, 7, 8],
        [1, 2, 7, 9],
        [1, 2, 7, 10],
        [1, 2, 8, 8],
        [1, 2, 8, 9],
        [1, 2, 8, 10],
        [1, 3, 3, 3],
        [1, 3, 3, 4],
        [1, 3, 3, 5],
        [1, 3, 3, 6],
        [1, 3, 3, 7],
        [1, 3, 3, 8],
        [1, 3, 3, 9],
        [1, 3, 3, 10],
        [1, 3, 4, 4],
        [1, 3, 4, 5],
        [1, 3, 4, 6],
        [1, 3, 4, 7],
        [1, 3, 4, 8],
        [1, 3, 4, 9],
        [1, 3, 4, 10],
        [1, 3, 5, 6],
        [1, 3, 5, 7],
        [1, 3, 5, 8],
        [1, 3, 5, 9],
        [1, 3, 5, 10],
        [1, 3, 6, 6],
        [1, 3, 6, 7],
        [1, 3, 6, 8],
        [1, 3, 6, 9],
        [1, 3, 6, 10],
        [1, 3, 7, 7],
        [1, 3, 7, 8],
        [1, 3, 7, 9],
        [1, 3, 7, 10],
        [1, 3, 8, 8],
        [1, 3, 8, 9],
        [1, 3, 8, 10],
        [1, 3, 9, 9],
        [1, 3, 9, 10],
        [1, 3, 10, 10],
        [1, 4, 4, 4],
        [1, 4, 4, 5],
        [1, 4, 4, 6],
        [1, 4, 4, 7],
        [1, 4, 4, 8],
        [1, 4, 4, 9],
        [1, 4, 4, 10],
        [1, 4, 5, 5],
        [1, 4, 5, 6],
        [1, 4, 5, 7],
        [1, 4, 5, 8],
        [1, 4, 5, 9],
        [1, 4, 5, 10],
        [1, 4, 6, 6],
        [1, 4, 6, 7],
        [1, 4, 6, 8],
        [1, 4, 6, 9],
        [1, 4, 6, 10],
        [1, 4, 7, 7],
        [1, 4, 7, 8],
        [1, 4, 7, 9],
        [1, 4, 8, 8],
        [1, 4, 8, 9],
        [1, 4, 9, 10],
        [1, 4, 10, 10],
        [1, 5, 5, 5],
        [1, 5, 5, 6],
        [1, 5, 5, 9],
        [1, 5, 5, 10],
        [1, 5, 6, 6],
        [1, 5, 6, 7],
        [1, 5, 6, 8],
        [1, 5, 6, 9],
        [1, 5, 6, 10],
        [1, 5, 7, 8],
        [1, 5, 7, 9],
        [1, 5, 7, 10],
        [1, 5, 8, 8],
        [1, 5, 8, 9],
        [1, 5, 8, 10],
        [1, 5, 9, 9],
        [1, 5, 9, 10],
        [1, 5, 10, 10],
        [1, 6, 6, 6],
        [1, 6, 6, 8],
        [1, 6, 6, 9],
        [1, 6, 6, 10],
        [1, 6, 7, 9],
        [1, 6, 7, 10],
        [1, 6, 8, 8],
        [1, 6, 8, 9],
        [1, 6, 8, 10],
        [1, 6, 9, 9],
        [1, 6, 9, 10],
        [1, 7, 7, 9],
        [1, 7, 7, 10],
        [1, 7, 8, 8],
        [1, 7, 8, 9],
        [1, 7, 8, 10],
        [1, 7, 9, 9],
        [1, 7, 9, 10],
        [1, 8, 8, 8],
        [1, 8, 8, 9],
        [1, 8, 8, 10],
        [2, 2, 2, 3],
        [2, 2, 2, 4],
        [2, 2, 2, 5],
        [2, 2, 2, 7],
        [2, 2, 2, 8],
        [2, 2, 2, 9],
        [2, 2, 2, 10],
        [2, 2, 3, 3],
        [2, 2, 3, 4],
        [2, 2, 3, 5],
        [2, 2, 3, 6],
        [2, 2, 3, 7],
        [2, 2, 3, 8],
        [2, 2, 3, 9],
        [2, 2, 3, 10],
        [2, 2, 4, 4],
        [2, 2, 4, 5],
        [2, 2, 4, 6],
        [2, 2, 4, 7],
        [2, 2, 4, 8],
        [2, 2, 4, 9],
        [2, 2, 4, 10],
        [2, 2, 5, 5],
        [2, 2, 5, 6],
        [2, 2, 5, 7],
        [2, 2, 5, 8],
        [2, 2, 5, 9],
        [2, 2, 5, 10],
        [2, 2, 6, 6],
        [2, 2, 6, 7],
        [2, 2, 6, 8],
        [2, 2, 6, 9],
        [2, 2, 6, 10],
        [2, 2, 7, 7],
        [2, 2, 7, 8],
        [2, 2, 7, 10],
        [2, 2, 8, 8],
        [2, 2, 8, 9],
        [2, 2, 8, 10],
        [2, 2, 9, 10],
        [2, 2, 10, 10],
        [2, 3, 3, 3],
        [2, 3, 3, 5],
        [2, 3, 3, 6],
        [2, 3, 3, 7],
        [2, 3, 3, 8],
        [2, 3, 3, 9],
        [2, 3, 3, 10],
        [2, 3, 4, 4],
        [2, 3, 4, 5],
        [2, 3, 4, 6],
        [2, 3, 4, 7],
        [2, 3, 4, 8],
        [2, 3, 4, 9],
        [2, 3, 4, 10],
        [2, 3, 5, 5],
        [2, 3, 5, 6],
        [2, 3, 5, 7],
        [2, 3, 5, 8],
        [2, 3, 5, 9],
        [2, 3, 5, 10],
        [2, 3, 6, 6],
        [2, 3, 6, 7],
        [2, 3, 6, 8],
        [2, 3, 6, 9],
        [2, 3, 6, 10],
        [2, 3, 7, 7],
        [2, 3, 7, 8],
        [2, 3, 7, 9],
        [2, 3, 7, 10],
        [2, 3, 8, 8],
        [2, 3, 8, 9],
        [2, 3, 8, 10],
        [2, 3, 9, 9],
        [2, 3, 9, 10],
        [2, 3, 10, 10],
        [2, 4, 4, 4],
        [2, 4, 4, 5],
        [2, 4, 4, 6],
        [2, 4, 4, 7],
        [2, 4, 4, 8],
        [2, 4, 4, 9],
        [2, 4, 4, 10],
        [2, 4, 5, 5],
        [2, 4, 5, 6],
        [2, 4, 5, 7],
        [2, 4, 5, 8],
        [2, 4, 5, 9],
        [2, 4, 5, 10],
        [2, 4, 6, 6],
        [2, 4, 6, 7],
        [2, 4, 6, 8],
        [2, 4, 6, 9],
        [2, 4, 6, 10],
        [2, 4, 7, 7],
        [2, 4, 7, 8],
        [2, 4, 7, 9],
        [2, 4, 7, 10],
        [2, 4, 8, 8],
        [2, 4, 8, 9],
        [2, 4, 8, 10],
        [2, 4, 9, 9],
        [2, 4, 9, 10],
        [2, 4, 10, 10],
        [2, 5, 5, 7],
        [2, 5, 5, 8],
        [2, 5, 5, 9],
        [2, 5, 5, 10],
        [2, 5, 6, 6],
        [2, 5, 6, 7],
        [2, 5, 6, 8],
        [2, 5, 6, 9],
        [2, 5, 6, 10],
        [2, 5, 7, 7],
        [2, 5, 7, 8],
        [2, 5, 7, 9],
        [2, 5, 7, 10],
        [2, 5, 8, 8],
        [2, 5, 8, 9],
        [2, 5, 8, 10],
        [2, 5, 9, 10],
        [2, 5, 10, 10],
        [2, 6, 6, 6],
        [2, 6, 6, 7],
        [2, 6, 6, 8],
        [2, 6, 6, 9],
        [2, 6, 6, 10],
        [2, 6, 7, 8],
        [2, 6, 7, 9],
        [2, 6, 7, 10],
        [2, 6, 8, 8],
        [2, 6, 8, 9],
        [2, 6, 8, 10],
        [2, 6, 9, 9],
        [2, 6, 9, 10],
        [2, 6, 10, 10],
        [2, 7, 7, 8],
        [2, 7, 7, 10],
        [2, 7, 8, 8],
        [2, 7, 8, 9],
        [2, 7, 9, 10],
        [2, 7, 10, 10],
        [2, 8, 8, 8],
        [2, 8, 8, 9],
        [2, 8, 8, 10],
        [2, 8, 9, 9],
        [2, 8, 9, 10],
        [2, 8, 10, 10],
        [2, 9, 10, 10],
        [3, 3, 3, 3],
        [3, 3, 3, 4],
        [3, 3, 3, 5],
        [3, 3, 3, 6],
        [3, 3, 3, 7],
        [3, 3, 3, 8],
        [3, 3, 3, 9],
        [3, 3, 3, 10],
        [3, 3, 4, 4],
        [3, 3, 4, 5],
        [3, 3, 4, 6],
        [3, 3, 4, 7],
        [3, 3, 4, 8],
        [3, 3, 4, 9],
        [3, 3, 5, 5],
        [3, 3, 5, 6],
        [3, 3, 5, 7],
        [3, 3, 5, 9],
        [3, 3, 5, 10],
        [3, 3, 6, 6],
        [3, 3, 6, 7],
        [3, 3, 6, 8],
        [3, 3, 6, 9],
        [3, 3, 6, 10],
        [3, 3, 7, 7],
        [3, 3, 7, 8],
        [3, 3, 7, 9],
        [3, 3, 8, 8],
        [3, 3, 8, 9],
        [3, 3, 8, 10],
        [3, 3, 9, 9],
        [3, 3, 9, 10],
        [3, 4, 4, 4],
        [3, 4, 4, 5],
        [3, 4, 4, 6],
        [3, 4, 4, 7],
        [3, 4, 4, 8],
        [3, 4, 4, 9],
        [3, 4, 4, 10],
        [3, 4, 5, 5],
        [3, 4, 5, 6],
        [3, 4, 5, 7],
        [3, 4, 5, 8],
        [3, 4, 5, 9],
        [3, 4, 5, 10],
        [3, 4, 6, 6],
        [3, 4, 6, 8],
        [3, 4, 6, 9],
        [3, 4, 6, 10],
        [3, 4, 7, 7],
        [3, 4, 7, 8],
        [3, 4, 7, 9],
        [3, 4, 7, 10],
        [3, 4, 8, 9],
        [3, 4, 8, 10],
        [3, 4, 9, 9],
        [3, 4, 10, 10],
        [3, 5, 5, 6],
        [3, 5, 5, 7],
        [3, 5, 5, 8],
        [3, 5, 5, 9],
        [3, 5, 6, 6],
        [3, 5, 6, 7],
        [3, 5, 6, 8],
        [3, 5, 6, 9],
        [3, 5, 6, 10],
        [3, 5, 7, 8],
        [3, 5, 7, 9],
        [3, 5, 7, 10],
        [3, 5, 8, 8],
        [3, 5, 8, 9],
        [3, 5, 9, 9],
        [3, 5, 9, 10],
        [3, 5, 10, 10],
        [3, 6, 6, 6],
        [3, 6, 6, 7],
        [3, 6, 6, 8],
        [3, 6, 6, 9],
        [3, 6, 6, 10],
        [3, 6, 7, 7],
        [3, 6, 7, 8],
        [3, 6, 7, 9],
        [3, 6, 7, 10],
        [3, 6, 8, 8],
        [3, 6, 8, 9],
        [3, 6, 8, 10],
        [3, 6, 9, 9],
        [3, 6, 9, 10],
        [3, 6, 10, 10],
        [3, 7, 7, 7],
        [3, 7, 7, 8],
        [3, 7, 7, 9],
        [3, 7, 7, 10],
        [3, 7, 8, 8],
        [3, 7, 8, 9],
        [3, 7, 9, 9],
        [3, 7, 9, 10],
        [3, 7, 10, 10],
        [3, 8, 8, 8],
        [3, 8, 8, 9],
        [3, 8, 8, 10],
        [3, 8, 9, 9],
        [3, 8, 9, 10],
        [3, 8, 10, 10],
        [3, 9, 9, 9],
        [3, 9, 9, 10],
        [3, 9, 10, 10],
        [4, 4, 4, 4],
        [4, 4, 4, 5],
        [4, 4, 4, 6],
        [4, 4, 4, 7],
        [4, 4, 4, 8],
        [4, 4, 4, 9],
        [4, 4, 4, 10],
        [4, 4, 5, 5],
        [4, 4, 5, 6],
        [4, 4, 5, 7],
        [4, 4, 5, 8],
        [4, 4, 5, 10],
        [4, 4, 6, 8],
        [4, 4, 6, 9],
        [4, 4, 6, 10],
        [4, 4, 7, 7],
        [4, 4, 7, 8],
        [4, 4, 7, 9],
        [4, 4, 7, 10],
        [4, 4, 8, 8],
        [4, 4, 8, 9],
        [4, 4, 8, 10],
        [4, 4, 10, 10],
        [4, 5, 5, 5],
        [4, 5, 5, 6],
        [4, 5, 5, 7],
        [4, 5, 5, 8],
        [4, 5, 5, 9],
        [4, 5, 5, 10],
        [4, 5, 6, 6],
        [4, 5, 6, 7],
        [4, 5, 6, 8],
        [4, 5, 6, 9],
        [4, 5, 6, 10],
        [4, 5, 7, 7],
        [4, 5, 7, 8],
        [4, 5, 7, 9],
        [4, 5, 7, 10],
        [4, 5, 8, 8],
        [4, 5, 8, 9],
        [4, 5, 8, 10],
        [4, 5, 9, 9],
        [4, 5, 9, 10],
        [4, 5, 10, 10],
        [4, 6, 6, 6],
        [4, 6, 6, 7],
        [4, 6, 6, 8],
        [4, 6, 6, 9],
        [4, 6, 6, 10],
        [4, 6, 7, 7],
        [4, 6, 7, 8],
        [4, 6, 7, 9],
        [4, 6, 7, 10],
        [4, 6, 8, 8],
        [4, 6, 8, 9],
        [4, 6, 8, 10],
        [4, 6, 9, 9],
        [4, 6, 9, 10],
        [4, 6, 10, 10],
        [4, 7, 7, 7],
        [4, 7, 7, 8],
        [4, 7, 8, 8],
        [4, 7, 8, 9],
        [4, 7, 8, 10],
        [4, 7, 9, 9],
        [4, 7, 9, 10],
        [4, 7, 10, 10],
        [4, 8, 8, 8],
        [4, 8, 8, 9],
        [4, 8, 8, 10],
        [4, 8, 9, 9],
        [4, 8, 9, 10],
        [4, 8, 10, 10],
        [4, 9, 9, 10],
        [5, 5, 5, 5],
        [5, 5, 5, 6],
        [5, 5, 5, 9],
        [5, 5, 6, 6],
        [5, 5, 6, 7],
        [5, 5, 6, 8],
        [5, 5, 7, 7],
        [5, 5, 7, 8],
        [5, 5, 7, 10],
        [5, 5, 8, 8],
        [5, 5, 8, 9],
        [5, 5, 8, 10],
        [5, 5, 9, 9],
        [5, 5, 9, 10],
        [5, 5, 10, 10],
        [5, 6, 6, 6],
        [5, 6, 6, 7],
        [5, 6, 6, 8],
        [5, 6, 6, 9],
        [5, 6, 6, 10],
        [5, 6, 7, 7],
        [5, 6, 7, 8],
        [5, 6, 7, 9],
        [5, 6, 8, 8],
        [5, 6, 8, 9],
        [5, 6, 8, 10],
        [5, 6, 9, 9],
        [5, 6, 9, 10],
        [5, 6, 10, 10],
        [5, 7, 7, 9],
        [5, 7, 7, 10],
        [5, 7, 8, 8],
        [5, 7, 8, 9],
        [5, 7, 8, 10],
        [5, 7, 9, 10],
        [5, 7, 10, 10],
        [5, 8, 8, 8],
        [5, 8, 8, 9],
        [5, 8, 8, 10],
        [5, 9, 10, 10],
        [6, 6, 6, 6],
        [6, 6, 6, 8],
        [6, 6, 6, 9],
        [6, 6, 6, 10],
        [6, 6, 7, 9],
        [6, 6, 7, 10],
        [6, 6, 8, 8],
        [6, 6, 8, 9],
        [6, 6, 8, 10],
        [6, 6, 9, 10],
        [6, 7, 7, 10],
        [6, 7, 8, 9],
        [6, 7, 8, 10],
        [6, 7, 9, 9],
        [6, 7, 10, 10],
        [6, 8, 8, 8],
        [6, 8, 8, 9],
        [6, 8, 8, 10],
        [6, 8, 9, 9],
        [6, 8, 9, 10],
        [6, 9, 9, 10],
        [6, 10, 10, 10],
        [7, 7, 9, 10],
        [7, 8, 8, 9],
        [7, 8, 8, 10],
        [7, 8, 9, 10],
        [7, 8, 10, 10],
        [8, 8, 8, 10]];


    var permvar = new Array(24);

    permvar[0] = new Array('w', 'x', 'y', 'z');
    permvar[1] = new Array('w', 'x', 'z', 'y');
    permvar[2] = new Array('w', 'y', 'x', 'z');
    permvar[3] = new Array('w', 'y', 'z', 'x');

    permvar[4] = new Array('w', 'z', 'x', 'y');
    permvar[5] = new Array('w', 'z', 'y', 'x');
    permvar[6] = new Array('x', 'w', 'y', 'z');
    permvar[7] = new Array('x', 'w', 'z', 'y');

    permvar[8] = new Array('x', 'y', 'w', 'z');
    permvar[9] = new Array('x', 'y', 'z', 'w');
    permvar[10] = new Array('x', 'z', 'w', 'y');
    permvar[11] = new Array('x', 'z', 'y', 'w');

    permvar[12] = new Array('y', 'w', 'x', 'z');
    permvar[13] = new Array('y', 'w', 'z', 'x');
    permvar[14] = new Array('y', 'x', 'w', 'z');
    permvar[15] = new Array('y', 'x', 'z', 'w');

    permvar[16] = new Array('y', 'z', 'w', 'x');
    permvar[17] = new Array('y', 'z', 'x', 'w');
    permvar[18] = new Array('z', 'w', 'x', 'y');
    permvar[19] = new Array('z', 'w', 'y', 'x');

    permvar[20] = new Array('z', 'x', 'w', 'y');
    permvar[21] = new Array('z', 'x', 'y', 'w');
    permvar[22] = new Array('z', 'y', 'w', 'x');
    permvar[23] = new Array('z', 'y', 'x', 'w');

    var op = new Array('*', '+', '/', '-');

    function findSolution() {
        var w = parseInt($('#number1').text());
        if (!w) { alert('请刷新数字！'); return; }
        var x = parseInt($('#number2').text());
        if (!x) { alert('请刷新数字！'); return; }
        var y = parseInt($('#number3').text());
        if (!y) { alert('请刷新数字！'); return; }
        var z = parseInt($('#number4').text());
        if (!z) { alert('请刷新数字！'); return; }
        var sol = swap(w, x, y, z);

        sol = replace(sol[0], w, x, y, z);

        if (sol == '没找到解答') {
            $('#solution').text(sol);
            // $('solution').innerHTML = sol;
        } else {
            $('#solution').text(sol + ' = 24');
            // $('solution').innerHTML = sol + ' = 24';
        }
        return false;
    }

    function replace(sol, w, x, y, z) {
        sol = sol.replace('x', x);
        sol = sol.replace('y', y);
        sol = sol.replace('w', w);
        sol = sol.replace('z', z);
        // sol = sol.replace('*', '&times;');

        return sol;
    }


    function swap(w, x, y, z) {

        var op1, op2, op3;
        dummy = "";

        for (i = 0; i < 24; i++) {
            for (j = 0; j < 4; j++) {
                op1 = op[j];
                for (k = 0; k < 4; k++) {
                    op2 = op[k];
                    for (l = 0; l < 4; l++) {
                        op3 = op[l];
                        fu = permvar[i][0] + op1 + permvar[i][1] + op2 + permvar[i][2] + op3 + permvar[i][3];
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = '(' + permvar[i][0] + op1 + permvar[i][1] + ')' + op2 + permvar[i][2] + op3 + permvar[i][3];
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = permvar[i][0] + op1 + '(' + permvar[i][1] + op2 + permvar[i][2] + ')' + op3 + permvar[i][3];
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = permvar[i][0] + op1 + permvar[i][1] + op2 + '(' + permvar[i][2] + op3 + permvar[i][3] + ')';
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = '(' + permvar[i][0] + op1 + permvar[i][1] + ')' + op2 + '(' + permvar[i][2] + op3 + permvar[i][3] + ')';
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = '(' + permvar[i][0] + op1 + permvar[i][1] + op2 + permvar[i][2] + ')' + op3 + permvar[i][3];
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = permvar[i][0] + op1 + '(' + permvar[i][1] + op2 + permvar[i][2] + op3 + permvar[i][3] + ')';
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = '(' + '(' + permvar[i][0] + op1 + permvar[i][1] + ')' + op2 + permvar[i][2] + ')' + op3 + permvar[i][3];
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = permvar[i][0] + op1 + '(' + '(' + permvar[i][1] + op2 + permvar[i][2] + ')' + op3 + permvar[i][3] + ')';
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = '(' + permvar[i][0] + op1 + '(' + permvar[i][1] + op2 + permvar[i][2] + ')' + ')' + op3 + permvar[i][3];
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }

                        fu = permvar[i][0] + op1 + '(' + permvar[i][1] + op2 + '(' + permvar[i][2] + op3 + permvar[i][3] + ')' + ')';
                        dummy += '<br/>' + replace(fu, w, x, y, z);
                        if ((f(w, x, y, z, fu) == 24)) {
                            return [fu, dummy];
                        }
                    }
                }
            }
        }

        return ['没找到解答', dummy];
    }

    function f(w, x, y, z, fu) {
        var myfunction = new Function("w", "x", "y", "z", "return " + fu + ";")
        return myfunction(w, x, y, z, fu);
    }






    function reflesh() {
        var item = items[Math.floor(Math.random() * items.length)];
        console.log(item);
        $('#number1').text(item[0]);
        $('#number2').text(item[1]);
        $('#number3').text(item[2]);
        $('#number4').text(item[3]);
        $('#solution').text('');
    }
    reflesh();
</script>

{% include footer.html %}