<!-- / footer -->
<!--<script src="{{ site.url }}/assets/vendor/share.js/dist/js/share.min.js"></script>-->


<!--<script src="{{ site.url }}/assets/js/geopattern.js"></script>-->

<!--
    <script src="https://cdn.jsdelivr.net/npm/geopattern@1.2.3/geopattern.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/geopattern@1.2.3/geopattern.js"
    integrity="sha256-es2hrjfxDuPA6ubNkSlY8aUPnVBWVPtg8+CcGfMuqCo=" crossorigin="anonymous"></script>
-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/@msmiley/geopattern@1.2.3-1/js/geopattern.min.js"
    integrity="sha256-dWiVsbw+yxlojzhExZF6B42ZdsCWiy+Yo7dE5WEm3MQ=" crossorigin="anonymous"></script>



<script src="{{ site.url }}/assets/js/prism.js"></script>
<link rel="stylesheet" href="{{ site.url }}/assets/css/globals/prism.css">



<!--<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"></script>-->

<!--
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.js"
    integrity="sha256-kUPuXBU8+4ATRiWBGzAFUBOEAcnsOG8IBGKXumxP5L4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/themes/prism.css" 
    integrity="sha256-LArq5Cddn4QETLgVbBZppSkBLJbL1dhacPVQF/EPH00=" crossorigin="anonymous">
-->