<h3>My Popular Repositories</h3>
{% if site.github.public_repositories != null %}
{% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse%}
{% for repo in repos | limit: site.side_bar_repo_limit %}
<a href="{{ repo.html_url }}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ repo.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ repo.name }}
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ repo.description }}</p>
            </div>
            <div class="card-text">
                <!--
                <span class="meta-info" title="star picture">
                    <span class="octicon octicon-sta"></span><img src="{% link /images/star.png %}" alt="star picture">
                </span>
            -->
                <span class="meta-info" title="{{ repo.stargazers_count }} stars">
                    <span class="octicon octicon-star"></span>★ {{ repo.stargazers_count }}
                </span>

                <span class="meta-info" title="{{ repo.forks_count }} forks">
                    <span class="octicon octicon-git-branch"><img src="{% link /images/fork.png %}"
                            style="width:10px; height:10px;" alt="fork picture"></span> {{ repo.forks_count }}
                </span>

                <span class="meta-info" title="Last updated：{{ repo.updated_at }}">
                    <span class="octicon octicon-clock"></span>
                    <time datetime="{{ repo.updated_at }}">{{ repo.updated_at | date: '%Y-%m-%d' }}</time>
                </span>

            </div>
        </div>
    </div>
</a>
{% endfor %}

{% if site.google.data-ad-client %}
<!-- 纵向广告 等到博客访问量上来，再放广告 -->
<!--
{% if site.google.data-ad-client %}
<script async data-ad-client="{{ site.google.data-ad-client }}"
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
-->
<!--
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.google.data-ad-client }}"
     data-ad-slot="3665064374"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
{% endif %}

{% endif %}